/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --black-color: #000;
  --white-color: #fff;
  --white2-color: #f8f9fa;
  --gray-color: #343a40;
  --gray2-color: #8b8c89;
  --dark-gray-color: #212529;
  --light-gray-color: #f8f9fa;
  --light-gray2-color: #adb5bd;
  --blue-color: #0466c8;
  --blue2-color: #4265e1;
  --blue3-color:#0043e3;
  --dark-blue-color: #203369;
  --red-color: #dc2f02;
  --purple-color: #7b2cbf;
  --violet-color: #6986d7;
  --yellow-color: #fcbf49;
  --orange-color: #f77f00;
  --green-color: #76c893;
  --green2-color: #61ae51;
  --teal-color: #f6fdfe;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.landing-page {
  background-color: gray;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.landing-page .landing-page__container {
  background-color: white;
  border-top: 10px solid yellow;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 35px;
  overflow: hidden;
}
.landing-page .landing-page__container .landing-page__signup {
  padding: 25px;
}
.landing-page .landing-page__container .landing-page__signup .company-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.landing-page .landing-page__container .landing-page__signup .company-name .fa-solid {
  font-size: 0.65rem;
  color: black;
  margin-right: 10px;
}
.landing-page .landing-page__container .landing-page__signup .signup-container {
  margin: 50px 0;
}
.landing-page .landing-page__container .landing-page__signup .signup-container .title {
  margin-bottom: 15px;
}
.landing-page .landing-page__container .landing-page__signup .signup-container .title p {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}
.landing-page .landing-page__container .landing-page__signup .signup-container .subtitle {
  margin-bottom: 15px;
  color: black;
  font-size: 1rem;
}
.landing-page .landing-page__container .landing-page__signup .signup-container .signup-form {
  display: flex;
  flex-direction: column;
}
.landing-page .landing-page__container .landing-page__signup .signup-container .signup-form input {
  margin: 10px 0;
  padding: 10px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
}
.landing-page .landing-page__container .landing-page__signup .signup-container .signup-form input:nth-child(3) {
  padding-bottom: 50px;
}
.landing-page .landing-page__container .landing-page__signup .signup-container .button {
  margin: 25px 0px;
  padding: 15px 10px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-page .landing-page__container .landing-page__signup .signup-container .button a {
  color: white;
  text-decoration: none;
}
.landing-page .landing-page__container .landing-page__signup .signup-container .preference {
  margin: 35px 0px;
  justify-content: center;
  align-items: center;
}
.landing-page .landing-page__container .landing-page__signup .signup-container .preference p {
  text-align: center;
}
.landing-page .landing-page__container .landing-page__signup .signup-container .preference p a {
  color: black;
}
.landing-page .landing-page__container .landing-page__credibility {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px;
  background-image: url("/public/img/bg-img.jpg");
  background-repeat: no-repeat;
  background-position: 50% 65%;
  background-size: cover;
}
.landing-page .landing-page__container .landing-page__credibility .row-group1 {
  z-index: 2;
}
.landing-page .landing-page__container .landing-page__credibility .row-group1 .testimonial {
  max-width: 750px;
}
.landing-page .landing-page__container .landing-page__credibility .row-group1 .testimonial p {
  font-size: 2rem;
  color: white;
  text-indent: 3rem;
}
.landing-page .landing-page__container .landing-page__credibility .row-group1 .navigation {
  padding: 35px 0;
}
.landing-page .landing-page__container .landing-page__credibility .row-group1 .navigation .fa-solid {
  color: white;
  font-size: 1.5rem;
  padding-right: 10px;
}
.landing-page .landing-page__container .landing-page__credibility .row-group2 {
  z-index: 2;
}
.landing-page .landing-page__container .landing-page__credibility .row-group2 .catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page .landing-page__container .landing-page__credibility .row-group2 .catalog .col-r1 {
  margin-bottom: 25px;
}
.landing-page .landing-page__container .landing-page__credibility .row-group2 .catalog .p1 {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  margin-bottom: 0.5rem;
}
.landing-page .landing-page__container .landing-page__credibility .row-group2 .catalog .p1 .fa-solid {
  font-size: 1rem;
  color: white;
  padding-left: 5px;
}
.landing-page .landing-page__container .landing-page__credibility .row-group2 .catalog .p2 {
  font-size: 1rem;
  color: white;
  margin-bottom: 0.5rem;
}
.landing-page .landing-page__container .landing-page__credibility .row-group2 .catalog .catalog-header {
  font-size: 1.75em;
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 925px) {
  .landing-page .landing-page__container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 625px) {
  .landing-page .landing-page__container {
    display: flex;
    flex-direction: column;
  }
  .landing-page .landing-page__container .landing-page__credibility .row-group2 .catalog {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }
  .landing-page .landing-page__container .landing-page__credibility .row-group2 .catalog .catalog-col1 {
    margin-bottom: 25px;
  }
  .landing-page .landing-page__container .landing-page__credibility .row-group2 .catalog .catalog-col2 {
    margin-bottom: 25px;
  }
  .landing-page .landing-page__container .landing-page__credibility .row-group2 .catalog .catalog-col3 {
    margin-bottom: 25px;
  }
  .landing-page .landing-page__container .landing-page__credibility .row-group2 .catalog .catalog-col4 {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 525px) {
  .landing-page .landing-page__container .landing-page__credibility .row-group2 .catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 385px) {
  .landing-page .landing-page__container {
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */
