// Global Settings -- START //
:root {
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #343a40;
    --dark-gray-color: #212529;
    --blue-color: #0466c8;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
// Global Settings -- END //

