// Compile SCSS to CSS --> sass --watch assets/scss/main.scss:public/css/main.css //

@use '_reset.scss';
@use '_settings.scss';
@use './bootstrap/scss/bootstrap.scss';

// Mixin -- START //
@mixin padding_margin-reset {
    padding: 0;
    margin: 0;
}
@mixin box-shadow-one {
    -webkit-box-shadow: 0px 25px 50px -15px rgba(4,102,200,1);
    -moz-box-shadow: 0px 25px 50px -15px rgba(4,102,200,1);
    box-shadow: 0px 25px 50px -15px rgba(4,102,200,1);
}
@mixin box-shadow-two {
    -webkit-box-shadow: 0px 25px 75px -30px rgba(0,0,0,1);
    -moz-box-shadow: 0px 25px 75px -30px rgba(0,0,0,1);
    box-shadow: 0px 25px 75px -30px rgba(0,0,0,1);
}
// Mixin -- END //

// HEADER-SECTION START //
.header-section {
    overflow: visible;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    a {
        padding: 0 25px;
        text-decoration: none;
        color: var(--dark-gray-color);
        transition: all .3s ease-in-out;
        span {
            @include box-shadow-one;
            background-color: var(--blue-color);
            color: var(--white-color);
            padding: 10px 15px;
            border-radius: 25px;
        }
    }
    .header-section__logo {
        img {
            width: 35px;
            object-fit: contain;
        }
    }
    .header-section__mobile-menu {
        display: none;
    }
    .header-section__mobile-btn {
        display: none;
    }
}
    // MEDIA QUERIES START //
@media only screen and (max-width: 1000px) {
    .header-section {
        .header-section__desktop-menu {
            display: none;
        }
        .header-section__mobile-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--white-color);
            width: 100%;
            height: auto;
            z-index: 1000;
            position: absolute;
            bottom: -380px;
            padding: 25px 0;
            box-shadow: 0px 15px 10px -15px var(--dark-gray-color); 
            transform: translate3d(-150%,0,0);
            transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
            transition-delay: 100ms;
            a {
                text-align: center;
                font-size: 1.5rem;
                padding: 15px 25px;
                transition: all .5s ease-out;
            }
        }
        .header-section__mobile-menu.active {
            transform: translate3d(0,0,0);
        }
        .header-section__mobile-btn {
            @include padding_margin-reset;
            display: flex;
            align-items: center;

            .icon-1, .icon-2, .icon-3 {
                position: absolute;
                top: 50%;
                bottom: 50%;
                width: 32px;
                height: 3px;
                background-color: var(--dark-gray-color);
                transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
            }
            
            .icon-1 {
              transform: translateY(-8px);
              animation-delay: 100ms;
            }
            
            .icon-3 {
              transform: translateY(8px);
              animation-delay: 250ms;
            }
            
            .hamburger-icon {
              height: 60px;
              width: 60px;
              z-index: 1000;
              cursor: pointer;
              transition: all 0.2s ease-in-out;
              &:hover {
                transform: scale(1.2);
              }
            }
            
            .icon-1.a {
              transform: rotate(40deg);
            }
            .icon-3.b {
              transform: rotate(-40deg);
            }
            .icon-2.c {
              opacity: 0;
            }
        }
    }
}
    // MEDIA QUERIES END //
// HEADER-SECTION END //

// HOME-SECTION START//
.home-section {
    height: 100vh;
    width: 100%;
    position: relative; 
    padding-top: 100px;
    .container {
        height: 100vh;
        .home-section__col1 {
            z-index: 2;
            padding-top: 50px;
            padding-bottom: 50px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .subtitle {
                height: auto;
                font-size: 1.25rem;
                color: var(--blue-color);
                .fa-solid {
                    color: var(--blue-color);
                }
            }
            .title {
                height: auto;
                font-size: 3rem;
                font-weight: 700;
                line-height: 1.25;
                span {
                    color: var(--blue-color);
                }
            }
            .description {
                height: auto;
                font-size: 1.25rem;
                color: var(--gray-color);
            }
            .signup {
                height: auto;
                .input-email {
                    width: auto;
                    display: flex;
                    align-items: center;
                    input {
                        height: auto;
                        border: 1px solid var(--gray-color);
                        outline: none;
                        padding: 10px;
                        margin-right: 2.5px;
                        border-radius: 10px;
                        font-size: 1.25rem;
                    }
                    a {
                        @include box-shadow-one;
                        height: auto;
                        background-color: var(--blue-color);
                        padding: 10px 25px;
                        margin-left: 2.5px;
                        border-radius: 10px;
                        .fa-solid {
                            color: var(--white-color);
                            font-size: 1.75rem;
                        }
                    }
                }
            }
        }
        .home-section__col2 {
            z-index: 2;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            .imgs-container {
                height: 75vh;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .img-1  {
                    @include box-shadow-two;
                    height: 60vh;
                    width: 100%;
                    margin-right: 5px;
                    display: flex;
                    align-self: flex-start;
                    border-radius: 25px;
                    background-image: url('https://i.imgur.com/hNMWr6V.jpg');
                    background-size: 750px;
                    background-repeat: no-repeat;
                    background-position: center left;
                }
                .img-2 {
                    @include box-shadow-two;
                    height: 60vh;
                    width: 100%;
                    margin: 0px 5px;
                    display: flex;
                    align-self: flex-end;
                    border-radius: 25px;
                    background-image: url('https://i.imgur.com/hNMWr6V.jpg');
                    background-size: 750px;
                    background-repeat: no-repeat;
                    background-position: center bottom;
                }
                .img-3 {
                    @include box-shadow-two;
                    height: 60vh;
                    width: 100%;
                    margin-left: 5px;
                    display: flex;
                    align-self: flex-start;
                    border-radius: 25px;
                    background-image: url('https://i.imgur.com/hNMWr6V.jpg');
                    background-size: 750px;
                    background-repeat: no-repeat;
                    background-position: center right;
                }    
            }
        }
        .box {
            overflow: hidden;
            animation: rotation 60s infinite linear;
            position: absolute;
            z-index: 0;
            top: -150px;
            left: -150px;
            opacity: .1;
            border-radius: 150px;
            transform: rotate(75deg);
            height: 500px;
            width: 500px;
            background-color: var(--blue-color);
            @keyframes rotation {
                from {
                  transform: rotate(0deg);
                }
                to {
                  transform: rotate(359deg);
                }
            }
        }
    }
}
@media only screen and (max-width: 360px) {
    .home-section {
        .container {
            .home-section__col1 {
                .signup {
                    .input-email {
                        input {
                            width: 210px;
                        }
                        a {
                            .fa-solid {
                            }
                        }
                    }
                }
            }
        }
    }
}
// HOME-SECTION END//

// PARTNERS-SECTION START // 
.partners-section {
    .container {
        
    }
}
// PARTNERS-SECTION END //